<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<connectionStrings>
		<add name="DapperTest" connectionString="Data Source=10.14.86.186,1433;Initial Catalog=master;User ID=TCBaseTrain;Password=TCBaseTrain;MultipleActiveResultSets=True" />

	</connectionStrings>
</configuration>